body {
  margin: 20px;
}

.wrapper {
  width: 500px;
  border: 2px solid red;
  position: relative; /* position absolute의 기준이 되는 컨테이너 */
}

/* position : relative (내가 기준)*/
.like {
  background-color: #ffc;
  position: relative;
  left: 50px;
  bottom: 20px;
}

/* position : absolute (나의 상위 컨테이너가 기준)*/
.bootcamp {
  background-color: #fcf;
  position: absolute;
  left: 50px;
  top: 100px;
}

/* position : fixed */
.school {
  background-color: #cff;
  position: fixed; /* 뷰포트 기준 */
  right: 0;
  bottom: 0;
}

/* position : sticky */
h1 {
  background-color: #cfc;
  position: sticky;
  top: 0;
  z-index: 10; /* 다른 요소 위에 떠 있도록 우선순위 지정 */
}

/* z-index 속성 */
.frontend,
.euid {
  position: relative;
  padding: 10px;
}

.frontend {
  background-color: yellow;
  left: 50px;
  top: 20px;
  z-index: 1;
}

.euid {
  background-color: orange;
}

.container {
  background-color: #000;
  margin-top: 50px;

  p {
    background-color: white;
    padding: 20px;
    border: 1px solid currentColor;
    position: relative;
    top: -5px;
    left: -5px;
  }
}
