body {
  margin: 20px;
}

/* 컴포넌트 */
/* .term {
  background-color: #ffc;
  display: flow-root;
  width: 218px;

  .subject {
    font-size: 14px;
    font-weight: 600;
    color: #296897;
    float: right;
    width: 142px;
    line-height: 150%;
    margin-bottom: 4px;
  }

  .thumbnail {
    float: left;
    margin-right: 16px;
  }

  .description {
    font-size: 14px;
    line-height: 150%;
  }
} */

.term {
  --accent-color: #296897;
  --text-size: 1rem;

  display: flow-root;
  font-size: var(--text-size);

  .subject {
    font-weight: 600;
    font-size: 1.2em;
    color: var(--accent-color);
  }

  .subject,
  .description {
    float: right;
    width: calc(100% - 76px);
  }

  .thumbnail {
    float: left;
  }

  .description {
    margin-top: 4px;
    font-size: 1em;
  }
}

/* 레이아웃 */
.terms {
  --gray-700: #7a7a7a;
  --gray-600: #cccccc;
  --gray-500: #eeeeee;
  --spacing: 1rem;

  background: var(--gray-600) linear-gradient(var(--gray-600), var(--gray-500));
  border: 1px solid var(--gray-700);
  border-radius: 5px;
  padding: var(--spacing);
  width: 250px;

  .headline {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: var(--spacing);
  }
  .term {
    margin-top: calc(var(--spacing) - 4px);
  }

  /* 홀수번째, 짝수번째열만 even/ 2n + 1 */
  & .term:nth-child(2n + 1) {
    .subject,
    .description {
      float: left;
    }
    .thumbnail {
      float: right;
    }
  }
}
